.wholeau {
  height: 89vh;
  align-items: center;
  padding-top: 30px;
}
h1 {
  padding-top: 25px;
  font-size: 3.5rem;
  margin-top: 3rem;
  text-align: center;
  justify-content: center;
  font-family: "Fjalla One", sans-serif;
  padding-bottom: 15px;
}
.wholeau h3{
  font-size: 2rem;
  text-align:center;
  font-family: "cedilla cursive";
  padding-bottom: 15px;
  font-style: italic;
  color: #9a1750;
  font-weight: bold;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
  max-width: 100%;
  margin-left: 50px;
  padding: 15px 30px 0 30px;
}
.content {
  flex: 9;
  padding-left: 20px;
  margin-right: 0px;
  font-size: 1.5em;
  text-align: center;
  max-width: 100%;
  margin-bottom: 20px;
}
.giff{
  flex: 1;
  height: auto;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 0;
}