.styles_section____tQz {
    display: flex;
    flex-direction: column;
    gap: var(--1e685c);
    justify-content: center;
    margin: 0 auto;
    max-width: 607px;
    padding: var(--f1b498) 0;
    width: 100%;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}